.main {
  min-height: calc(100vh - 120px);
  padding: 1rem 5rem;
}

@media (max-width: 768px) {
  .main {
    padding: 1rem 3rem;
  }
}

@media (max-width: 425px) {
  .main {
    padding: 1rem;
  }
}
