.viewInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: dodgerblue;
  padding: 1rem;
  border-radius: 1rem;
}
.viewInfoTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.viewInfoTop h3,
.viewInfoTop h4 {
  color: #fff;
}
.viewInfoBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.viewInfoBottom p {
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
}

@media (max-width: 425px) {
  .viewInfoBottom {
    display: none;
  }
}
