@import url("https://fonts.maateen.me/charukola-ultra-light/font.css");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  text-decoration: none;
  user-select: none;
  font-family: "CharukolaUltraLight", sans-serif;
  font-weight: 600;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: rgba(162, 208, 255, 0.384);
}
::-webkit-scrollbar-thumb {
  background: dodgerblue;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: royalblue;
}
